%p
  #oy-ab
    %ul
      %li
        %a{:href => "/about/index"} About!
      %li
        %a{:href => "/doc/frames.html"} Api Docs!
      %li 
        %a{:href => "//github.com/entropie/oy"} Oy on Github!
      %li
        %a{:href => "//twitter.com/mictro"} @mictro!
