%ul
  %li
    %a{:href => SpecialController.r}= "All Pages<span>!</span>"
  %li
    %a{:href => SpecialController.r(:media)}= "Media<span>!</span>"
  %li
    %a{:href => SpecialController.r(:upload)}= "Upload<span>!</span>"
  %li
    %form{:action => "/create", :method => :post}
      %div
        %label{:for => :path} Create
        %input{:class => "oy-create-input", :value => create_prefix, :name => :path, :id => :path}
