%ul.right
  - if @sha
    %li.backlink
      %a.awesome{:title => "To most recent Version", :href => @wiki.link(:link)} Recent
  - if @cached
    %li.cached
      %a.awesome{:title => "Reread from repos", :href => @wiki.link(:reread)} Reread
  - if @wiki.has_parent?
    %li.history
      %a.awesome{:title => "History", :href => @wiki.link(:history)} History
    %li.back-in-time
      %a.awesome{:href => @wiki.link(:version), :title => "Goto Previous Version"} Back In Time
    %li.compare
      %a.awesome{:title => "Compare with last Version", :href => @wiki.link(:compare)} Compare
  - if @sha and not @wiki.locked?
    %li.compare
      %a.awesome{:title => "Revert to this version", :href => @wiki.link(:revert)} Revert
  - unless @wiki.locked?
    - unless @sha
      %li.edit
        %a.awesome{:title => "Edit Page", :href => @wiki.link(:edit)} Edit
  - else
    %li.locked
      %span.awesome.red Readonly
