#oy-topnav
  %a{:href => WikiController.r(@wiki.link)} Back To Page
= render_file "view/form.haml", :identifier => @wiki.identifier, :raw_data => @wiki.raw_data, :path => @wiki.path, :action => @action
