#oy-topnav
  %a.awesome.magenta{:href => WikiController.r(@wiki.link)} Back To Page
= oy_render_file "_form.haml", :identifier => @wiki.identifier, :raw_data => @wiki.raw_data, :path => @wiki.path, :action => @action
