#oy-editform
  %form{:action => WikiController.r(:update, :path => @path), :method => :post}
    %fieldset
      %legend= @identifier
      .oy-path= @path
      .oy-textbox
        %textarea{:name => :body, :class => :body}= @raw_data
      .oy-messagebox
        %input{:type => :text, :value => "", :name => :message}
      .oy-submit
        %input{:type => :submit, :value => :Edit}
