#oy-page
  #oy-preview
    .oy-preview-buttons
      %a.awesome.edit{:href => "#"} Edit
    #oy-body
      .preview_body= @preview_wiki.with_markup
  .oy-preview-buttons.bottom
    %a.awesome.edit{:href => "#"} Edit
