!!! XML
!!! Strict
%html
  %head

    %title OY!
    %meta{'http-equiv' => "Content-Type",  :content => "text/html; charset=utf-8"}/
    %meta{'http-equiv' => "Cache-Control", :content => "NO-CACHE"}/


    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/b-reset.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/b-base.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/squaregrid.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/oy.css" }=''


    %script{:type => "text/javascript", :src => "/js/jquery.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery-ui.js"}=""
    %script{:type => "text/javascript", :src => "/js/modernizr-1.6.min.js"}=""
    %script{:type => "text/javascript", :src => "/js/oy.js"}=""
    
  %body
    #fork
      = render_file "view/_fork.html"
    #head
      = render_file "view/_head.haml"
    #wrap
      = @content
    #footer
      lalalal
