#oy-upload
  %form{:action => MediaController.r(:upload), :method => :post, :enctype => "multipart/form-data"}
    %fieldset
      %legend= @title || "Upload Media"
      %input{:type => :file, :name => :file}
      %input{:type => :text, :value => "#{@value}", :name => :name}
      %input{:type => :submit, :value => "Upload!"}        
      
