!clr_ulight_bg = #FFFDF5
!clr_light_bg = #DAE0E3

body
  :color #222

a
  :color #00f
  :text-decoration none
  
#wrap
  :margin-top 30px
  :margin-bottom 30px  
  :margin-left 10%
  :margin-right 10%

#head
  :margin-left 8%
  :margin-right 8%
  :padding 30px
  :padding-left 0px
  ul
    :list-style-type none
    li
      :float left
      :margin-left 30px

#footer
  :background-color grey
  :display none

fieldset
  :border 2px solid silver
  :padding 20px
  legend
    :padding-right 10px
    :padding-left 10px

#oy-editform
  legend
    :font-size 1.5em
  .body
    :width 98%
    :height 400px
    :padding 10px
    :border 1px solid silver
  .oy-submit
    :text-align right
  .oy-messagebox
    :margin-top 20px
    input
      :border 1px solid silver
      :padding 10px
      :width 98%
  
#oy-topnav
  :text-align right

#oy-page
  #oy-topic
    :font-size 3em
    :border-bottom 1px solid silver
    :letter-spacing 7px
    :margin-bottom 20px
    :padding-bottom 30px
  #oy-about
    :margin-top 0px
    :float right
    :font-size 0.9em
    :background-color #ffe
    :padding 5px
  #oy-body
    h1
      :font-size 2em
      :margin-bottom 10px
    p
      :margin-bottom 30px
      :padding-left 10px
      :background-color #F5F5F5
      :padding 10px
  #oy-sub
    ul
      :list-style-type none
      li
        :text-align right
        :float right
        :margin-left 10px
        :font-size 0.7em
        &.author
          :color grey
          &:after
            :color silver
            :content " — "
        &.edit
          :color black
          a
            :color black
        &.ledit
          :color silver
          :margin-left 5px
          a
            :color silver
    :margin-top 30px
    :border-top 1px solid silver

a.oy-link
  &.x
    :color navy
  &.o
    :color grey

.oy-sha
  :color silver
  :font-size 0.7em
.oy-msg
  :color grey
  :font-size 0.8em

#oy-all
  ul
    :margin 0px
    :padding 0px
    :width 50%
    :float right
    :list-style-type none
    :margin-right -1px
    :border-right 1px solid silver
    &:nth-child(1)
      :clear both
      :border none
      li
        :padding-left 20px
    li
      :padding-left 0px
      &:hover
        :background-color = !clr_ulight_bg
        *
          :color #001 !important
  .oy-prfx
    :color silver
    :float right
    :padding-right 15px
