!clr_ulight_bg = #FFFDF5
!clr_light_bg = #DAE0E3

!clr_black = #111
  
!clr_white = #ffffff

!clr_blink = #305454
!clr_rlight_black = #403D3E
!clr_rlight_blue = #0487D9

!clr_head_bg = #6E1400
!clr_link_on_dark = #F2F2F2
!clr_blue_link = #1C1C3D  

!clr_smoof_orange = #ffab27
!clr_light_silver = #eeeeee    
!clr_fresh_blue = #4096EE
!clr_silver = silver

!clr_topic_border = #E01B4C  
  
#oy-pg-message
  :position absolute
  :top 56px
  :right 10%
  :font-size 0.6em
  :color = !clr_head_bg
  
#oy-fontsel
  :position absolute
  :right 10%
  :top 40px
  :color = !clr_silver
  :font-size 0.6em
  &:hover
    :background-color = !clr_head_bg - 20
    &:before
      :margin-right 10px
      :font-size 1em
      :color = !clr_white
      :content attr(data-title)
#oy-font-list
  :position absolute
  :top 55px
  :right 10%
  :background-color = !clr_head_bg
  :margin-right -10px
  :font-size 0.8em
  :border 2px solid silver
  :border-color = !clr_head_bg - 20
  :display none
  :-webkit-box-shadow 5px 5px 10px #aaaaaa
  :-moz-box-shadow 5px 5px 10px #aaaaaa
  :box-shadow 5px 5px 10px #aaaaaa
  ul
    :margin 0px
    :list-style-type none
    li
      :padding-right 10px
      :padding-left 10px      
      :text-align right
      :color = !clr_silver
      &:hover
        :background-color = !clr_head_bg + 20

  
#oy-banner
  :position absolute
  :left 18px
  :top 20px
  img
    :width 64px
    :height 90px

html
  :height 100%

body
  :color #222
  :height 100%
  :font-family tahoma, 'Times New Roman', Georgia, serif
  
a
  :color #00f
  :text-decoration none
  
#wrap
  :min-height 100%
  :height auto !important
  :height 100%
  :margin 0 auto -50px

#oy-wrap
  :margin-left 10%
  :margin-right 10%
  :min-width 900px

#footer
  :background-color #120509
  :height 50px
  :position relative
  p
    :padding-left 10%
    :padding-right 10%
    :padding-top 20px
    :color = !clr_blue_link

#oy-ab
  :position absolute
  :right 5%
  :bottom 15px
  :color = !clr_rlight_black
  ul
    :list-style-type none
    li
      :display inline
      :margin-left 20px
      a
        :color = !clr_rlight_black
        &:hover
          :color = !clr_link_on_dark
          :border-bottom 2px solid red
          :border-bottom-color = !clr_link_on_dark
        
  
.push
  :height 50px
  :clear both
  :padding-bottom 30px


#head
  :margin-left 0
  :background-color = !clr_head_bg
  :margin-right 0
  :padding 30px
  :padding-top 10px
  :padding-left 0px
  :-webkit-box-shadow 10px 10px 20px #aaaaaa
  // FIXME: 
  // :-moz-box-shadow 0px 10px 20px #aaaaaa
  :box-shadow 10px 10px 20px #aaaaaa
  :margin-bottom 30px
  ul
    :margin-left 7%
    :margin-bottom 15px
    :list-style-type none
    li
      :float left
      :margin-left 30px
      :color silver
      :font-size 1.5em
      a
        :color = !clr_link_on_dark
        &:hover
          span
            :color = !clr_fresh_blue
        span
          :color silver
          
    input
      :font-size 0.8em
      :padding 5px
      :color #fff
      :border 1px solid silver
      :border-color = !clr_head_bg - 20
      :border-radius 5px
      :background-color = !clr_head_bg + 20

    
fieldset
  :border 2px solid silver
  :padding 20px
  legend
    :padding-right 10px
    :padding-left 10px

#oy-editform
  fieldset
    :border-radius 10px
    :-moz-border-radius 10px        
  legend
    :font-size 1.5em
    :text-shadow 1px 1px grey      
    :color = !clr_rlight_blue
    :letter-spacing 3px
    :padding 10px
    :margin-left -5px
    :font-weight normal
  .body
    :width 98%
    :height 400px
    :padding 10px
    :border 1px solid silver
  .oy-textbox
    :padding 10px
    :margin-bottom 10px
  .oy-markup
    :float right
    :margin-top 10px
  .oy-submit
    :text-align right
  .oy-messagebox
    :margin-top 20px
    input
      :border 1px solid silver
      :padding 10px
      :width 98%
  
#oy-topnav
  :text-align right
  a
    :color #fff

#oy-history
  h1
    :font-size 2em
    :margin-bottom 10px
  ul
    :list-style-type none
    li
      :padding 10px
      &:hover
        :background-color = !clr_ulight_bg
      &.active
        :background-color = !clr_light_bg
  .oy-msg
    :font-size 1.5em
  .oy-sha
    :float right
    :font-size 14px
    :display block
    :font-family monospace
  .oy-author
    :font-size 14px    
    :padding-right 10px
    :float right
    :color = !clr_rlight_black
#oy-media-ls
  :max-width 900px
  .oy-locked
    :background-color = !clr_rlight_black
    :padding 10px
    :border-radius 5px
    :-moz-border-radius 5px
    :color = !clr_light_silver
    :margin-bottom 20px
    :text-align center
    
  .oy-replace
    :margin-top 10px
    :margin-bottom 20px
    fieldset
      :border-radius 5px
      :-moz-border-radius 5px
      :text-align center
  .oy-backlink
    :text-align right
    :float right
    a
      :color = !clr_rlight_blue
  img
    :max-width 900px
  hr
    :border 1px solid silver
  ul
    :list-style-type none
    li
      &.float
        :float left
        :width 150px
        :height 150px
      img
        :max-width 150px
        :max-height 150px
  .oy-msg
    :text-align right
  h1
    :color = !clr_rlight_blue
    :font-size 2em
    :margin-bottom 10px
  h2
    :color = !clr_rlight_blue
    :font-size 1.5em
    :margin-bottom 10px

    
#fork
  :display none
#oy-revert
  h1
    :text-shadow 1px 1px grey
    :font-size 2em
    :color = !clr_rlight_blue
    :border-bottom 1px solid silver
    :letter-spacing 7px
    :margin-bottom 20px
    :padding-bottom 10px
  .info
    :margin-left -7%
    :margin-right -7%
    :padding 20px
    :background-color = !clr_smoof_orange
    :border-radius 10px
    :text-align center
    :border 3px solid red
    :border-color = !clr_smoof_orange - 20
    :-moz-box-shadow 0 1px 3px #999
    :-webkit-box-shadow 0 1px 3px #999
  .do-it
    :margin-top 20px
    form
      :text-align right

#oy-page
  #oy-topic
    :text-shadow 1px 1px grey
    :font-size 2em
    :color = !clr_rlight_blue
    :border-bottom 1px solid silver
    :letter-spacing 7px
    :margin-bottom 20px
    :padding-bottom 10px
  #oy-about
    :float right
    :font-size 0.9em
    :padding 5px
    &:hover
      .oy-msg
        :color #364045
  #oy-body
    .gvChart
      :position inherit
      :display inline
      iframe
        :-moz-box-shadow 2px 2px 3px #999
        :-webkit-box-shadow 2px 2px 3px #999
        :border 1px solid silver
    :position relative
    #oy-toc
      :transition opacity 1s ease-in-out
      :-webkit-transition opacity 1s ease-in-out
      :-moz-transition opacity 1s ease-in-out
      :-o-transition opacity 1s ease-in-out
      :position absolute
      :top -60px
      :right -10px
      h2
        :color = !clr_silver
        :border none
        :font-size 0.8em
        :margin-bottom 0px
        :text-align right
      ul
        :opacity 0
        :background-color #DCDFE8
        :margin 0px
        :margin-bottom 20px
        :margin-top 5px
        :margin-right 8px
        :padding 23px
        :padding-top 10px
        :padding-left 30px
        :padding-right 10px
        :border-bottom-right-radius 10px
        :border-bottom-left-radius 10px          
        :-webkit-border-bottom-right-radius 10px
        :-webkit-border-bottom-left-radius 10px
        :border 2px solid silver
        :border-color = !clr_silver
        :border-top none
        li
          :padding 0px
          :padding-right 20px
          :color = !clr_rlight_black
          &.h2
            :margin-left 15px
          &.h3
            :margin-left 25px
          &.h4
            :margin-left 40px
          &.h5
            :margin-left 50px
          &.h6
            :margin-left 60px
          &:hover
            :color = !clr_rlight_blue
      &:hover
        h2
          :color = clr_topic_border
        ul
          :transition opacity 2s ease-in-out
          :-webkit-transition opacity 2s ease-in-out
          :-moz-transition opacity 2s ease-in-out
          :-o-transition opacity 2s ease-in-out
          :opacity 0.9
      
    strong
      :background-color = !clr_light_silver
      :padding 3px
    code
      :background-color = !clr_light_silver
      :color = !clr_black
      :padding 3px
      :font-family monospace
    h1,h2,h3,h4,h5,h6
      :border-radius 30px
      :text-shadow 1px 1px grey      
      :color = !clr_rlight_blue
      :letter-spacing 3px
      :padding 10px
      :margin-left -5px
      :border-left 5px solid red
      :border-left-color = !clr_silver
      :font-weight normal
      :margin-bottom 10px
      &:hover
        :border-left-color = !clr_topic_border
    h1
      :font-size 2em
    h2
      :font-size 1.6em
      :border-left-width 5px      
      :margin-left -5px      
    h3
      :border-left-width 4px
      :margin-left -4px
      :font-size 1.4em
    h4
      :border-left-width 3px
      :margin-left -3px
      :font-size 1.2em
    h5
      :border-left-width 2px
      :margin-left -2px
      :font-size 1.1em
    h6
      :border-left-width 1px
      :margin-left 1px
      :font-size 1em
    p
      :margin-bottom 10px
      :padding-left 10px
      :padding 10px
    ul
      :padding-left 15px
      :margin-bottom 20px
      :color = !clr_rlight_black
    li
      :margin-bottom 1px
      :padding 5px
    img
      :border none
      :max-width 800px
      :max-height 600px
      :border-left 1px solid silver
      :border-top 1px solid silver
      :border-color = !clr_light_silver
      :-moz-box-shadow 2px 2px 3px #999
      :-webkit-box-shadow 2px 2px 3px #999
      
    blockquote
      :margin 0px
      :margin-left 20px
      :padding 0px
      p
        :background-color = !clr_light_silver
        :margin 0px

    .quote-author
      :margin-left 30px
      &:before
        :content " -- "
  #oy-sub
    :clear both
    :position relative
    :margin-bottom 30px
    :margin-top 30px
    :border-top 1px solid silver
    ul
      :margin-top 10px
      :list-style-type none
      :position absolute
      :top 0px
      &.left
        :left 0px
        li
          :display inline
          :margin-right 10px
          :margin-left 0px
      &.right
        :right 0px
      li
        :margin-left 10px
        :font-size 1em
        :display inline
        a
          :color #fff
        &.author
          &:before
            :content " by "
        &.locked
        &.edit
        &.compare
        &.history
        &.back-in-time
        &.ledit
          :color silver
          a
            :color = !clr_blue_link            

#oy-page
  .compare
    .line-nr
      :background-color #f7f7f7
      :padding-left 2px
    .td
      :font-family "Consolas", "Monaco", "Andale Mono", "Courier New", monospace
      :font-size 1.2em
      :line-hight 1.2em
      :margin 0px
      :padding 0px
    .gc
      :color blue
    .gd
      :color red
    .gi
      :color green
    .line
      :background-color = !clr_light_bg
      :margin-top 5px
      &:nth-child(even)
        :background-color = !clr_light_bg + 20
    pre
      :padding 0 0 0 1em

a.oy-link
  &:hover
    :border-bottom 2px solid
    :border-bottom-color = !clr_head_bg
  &.x
    :color navy
    &:hover
      :border-color navy
  &.o
    :color grey
    &:hover
      :border-color grey

.oy-sha
  :color silver
  :font-size 0.7em
  :display none
.oy-msg
  :color grey
  :font-size 0.8em
  :margin-top -5px
.oy-date
  :color grey
  :font-size 0.8em

#oy-all
  ul
    :margin 0px
    :padding 0px
    :width 50%
    :float right
    :list-style-type none
    :margin-right -1px
    :border-right 1px solid silver
    &:nth-child(1)
      :clear both
      :border none
      li
        :padding-left 20px
    li
      :padding-left 0px
      &:hover
        :background-color = !clr_ulight_bg
        *
          :color #001 !important
  .oy-prfx
    :color silver
    :float right
    :padding-right 15px
