!clr_ulight_bg = #FFFDF5
!clr_light_bg = #DAE0E3

!clr_blink = #305454
!clr_rlight_black = #403D3E
!clr_rlight_blue = #0487D9

!clr_head_bg = #6E1400
!clr_link_on_dark = #F2F2F2
!clr_blue_link = #C2A908  
body
  :color #222

a
  :color #00f
  :text-decoration none
  
#wrap
  :margin-top 30px
  :margin-bottom 30px  
  :margin-left 10%
  :margin-right 10%

#head
  :margin-left 0
  :background-color = !clr_head_bg
  :margin-right 0
  :padding 30px
  :padding-top 10px
  :padding-left 0px
  :-webkit-box-shadow 5px 5px 7px #aaaaaa
  :-moz-box-shadow 5px 5px 7px #aaaaaa
  :box-shadow 5px 5px 7px #aaaaaa
  ul
    :margin-bottom 15px
    :list-style-type none
    li
      :float left
      :margin-left 30px
      :color silver
      :font-size 1.5em
      a
        :color = !clr_link_on_dark
        &:hover
          span
            :color red
        span
          :color silver
          
    input
      :font-size 0.8em
      :padding 5px
      :color #fff
      :border 1px solid silver
      :border-color = !clr_head_bg - 20
      :border-radius 5px
      :background-color = !clr_head_bg + 20

#footer
  :background-color grey
  :display none

fieldset
  :border 2px solid silver
  :padding 20px
  legend
    :padding-right 10px
    :padding-left 10px

#oy-editform
  legend
    :font-size 1.5em
  .body
    :width 98%
    :height 400px
    :padding 10px
    :border 1px solid silver
  .oy-submit
    :text-align right
  .oy-messagebox
    :margin-top 20px
    input
      :border 1px solid silver
      :padding 10px
      :width 98%
  
#oy-topnav
  :text-align right

#oy-page
  #oy-topic
    :text-shadow 1px 1px grey
    :font-size 2em
    :color = !clr_rlight_blue
    //:color silver
    :border-bottom 1px solid silver
    :letter-spacing 7px
    :margin-bottom 20px
    :padding-bottom 10px
  #oy-about
    :margin-top 20px
    :float right
    :font-size 0.9em
    :padding 5px
    &:hover
      .oy-msg
        :color #364045
  #oy-body
    h1
      :font-size 2em
      :margin-bottom 10px
    p
      :margin-bottom 10px
      :padding-left 10px
      // :background-color #F5F5F5
      :padding 10px
    ul
      :padding-left 15px
      :margin-bottom 20px
      :color = !clr_rlight_black
    li
      :margin-bottom 5px
      // :background-color #F7F7F7
      :padding 5px

        
  #oy-sub
    ul
      :list-style-type none
      li
        :text-align right
        :float right
        :margin-left 10px
        :font-size 0.8em
        &:hover
          a
            :color = !clr_blink !important
        &.author
          :color #364045
          :font-weight bold
          &:after
            :color silver
            :content " — "
        &.edit
          a
            :color grey
        &.back-in-time
          a
            :color grey
        &.ledit
          :color silver
          :margin-left 5px
          a
            :color grey
    :margin-top 30px
    :border-top 1px solid silver

a.oy-link
  &.x
    :color navy
  &.o
    :color grey

.oy-sha
  :color silver
  :font-size 0.7em
  :display none
.oy-msg
  :color grey
  :font-size 0.8em
  :margin-top -5px

#oy-all
  ul
    :margin 0px
    :padding 0px
    :width 50%
    :float right
    :list-style-type none
    :margin-right -1px
    :border-right 1px solid silver
    &:nth-child(1)
      :clear both
      :border none
      li
        :padding-left 20px
    li
      :padding-left 0px
      &:hover
        :background-color = !clr_ulight_bg
        *
          :color #001 !important
  .oy-prfx
    :color silver
    :float right
    :padding-right 15px
